<h1><%= markdown @post.title %></h1> 
     <div style="margin-top: 10px">
        <%= render partial: 'votes/voter', locals: { post: @post } %>
     </div>


<div class="row">
  <div class="col-md-8">
     <p><%= markdown @post.body %></p>
  </div>


  <div class="col-md-4">
    <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
   <!-- nog even achterhalen wat hier nou het verschil is tussen de paden? -->
    
    <%= link_to "Delete post", [@topic, @post], method: :delete, class: 'btn btn-success', data: {confirm: "Are you sure?"} %>
    
    <div>  
      <h3> <%= pluralize(@post.points, 'point') %> <h3>
      <small>
         <%= pluralize(@post.up_votes, 'up vote') %>, 
         <%= pluralize(@post.down_votes, 'down vote') %>
       </small>  
    </div>

    <%= render partial: 'favorites/favorites', locals: { post: @post } %>

  </div>
</div>


    <div>

       
       <small>
         <%= pluralize(@post.up_votes, 'up vote') %>, 
         <%= pluralize(@post.down_votes, 'down vote') %>
       </small>
     

    
       <%= render @comments %>     


  </div>

<%= render partial: 'comments/form', locals: { topic: @topic, post: @post} %>

</div>